<div class="card mt-3">
  <%= image_tag url_for(car.image_url), class: 'card-img-top' %>
  <div class="card-footer">
    <p class="card-title m-0"><%= car.title %></p>
    <span class="badge badge-primary"><%= car.price %> $</span>
    <span class="badge badge-dark"><%= car.city %></span>
  </div>
</div>
