<h2>Your rentals car's</h2>
<hr>

<% if @rentals.any? %>
  <div class="row">
    <% @rentals.each do |rental| %>
      <div class="col-3">
        <%= link_to user_rental_path(rental)  do %><%= render 'rentals/partials/preview', rental: rental %><% end %>
      </div>
    <% end %>
  </div>

  <%= render 'layouts/paginate', collection: @rentals %>
<% else %>
  <div class="alert alert-primary p-4" role="alert">
    <h5>You don't rent your car yet but you can do it by clicking here:</h5>
    <%= link_to 'Rent my car', new_car_path, class: 'btn btn-primary' %>
  </div>
<% end %>
