<h2>Your cars</h2>
<hr>

<% if @cars %>
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-3">
        <%= link_to edit_car_path(car)  do %><%= render 'cars/partials/preview', car: car %><% end %>
      </div>
    <% end %>
  </div>

  <%= render 'layouts/paginate', collection: @cars %>
<% else %>
  <div class="alert alert-primary p-4" role="alert">
    <h5>You don't rent your car yet but you can do it by clicking here:</h5>
    <%= link_to 'Rent my car', new_car_path, class: 'btn btn-primary' %>
  </div>
<% end %>
