<div class="row">
  <%= render 'cars/partials/search' %>
</div>

<div class="row">
  <% @cars.each do |car| %>
    <div class="col-3">
      <%= link_to car do %><%= render 'cars/partials/preview', car: car %><% end %>
    </div>
  <% end %>
</div>

<%= render 'layouts/paginate', collection: @cars %>
